/* --------------------------------
        Keyframes
---------------------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* --------------------------------
       BG video styles
---------------------------------*/
.paused {
  display: none;
}

#bgVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 980px;
}

.video {
  position: relative;
  height: 980px;
  min-width: 100%;
  min-height: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 2s;
  z-index: -1;
}
@media (min-width: 1200px) {
  .video {
    max-width: 1580px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-right {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: none;
  }
}
@keyframes move-left {
  from {
    transform: none;
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes move-left-two {
  from {
    transform: translateX(100%);
  }
  to {
    transform: none;
  }
}
@keyframes move-right-two {
  from {
    transform: none;
  }
  to {
    transform: translateX(100%);
  }
}
#projectsSectionContainer {
  margin-top: 900px;
  height: 629px;
  background: linear-gradient(#000, #fcba2b);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -3;
}

#projects {
  margin-top: 1800px;
  height: 200px;
  width: 80%;
  position: absolute;
  left: 10%;
  z-index: -1;
}
@media (min-width: 1200px) {
  #projects {
    height: 200px;
    width: 50%;
    left: 25%;
  }
}

#mountains {
  height: 250px;
  position: relative;
  left: 180%;
  margin-top: 380px;
}
@media (min-width: 1200px) {
  #mountains {
    left: 100%;
  }
}

.animate {
  animation: fade-in 1.5s ease-in-out;
}

.gif {
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  min-height: 300px;
}

#projectExamples {
  margin-top: 1800px;
  width: 100%;
  height: 400px;
}

.copy {
  color: white;
}

.projectTitle {
  margin-bottom: 0;
}

.spaced {
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .spaced {
    margin-top: 200px;
  }
}

.awesomeCo {
  transform: translateX(-200%);
}

.drumSpace {
  transform: translateX(100%);
}

#awesomeCoCopy:after,
#drumSpaceCopy:after {
  content: "";
  position: absolute;
  top: 24%;
  left: 27%;
  width: 180%;
  height: 87%;
  background: linear-gradient(to right, rgba(252, 186, 43, 0.7), #000, #000);
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  z-index: -1;
}

body {
  background-color: black;
  overflow-x: hidden;
  height: 3000px;
  z-index: -1;
}

.nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.affix {
  top: 0;
  position: fixed;
}

@font-face {
  font-family: "roadway";
  src: url("../fonts/roadway/ROADWAY_.woff") format("woff");
}
@font-face {
  font-family: "Dolce Vita Light";
  src: url("../fonts/dolce_vita/DolceVitaLight.woff") format("woff");
}
@font-face {
  font-family: "Assassin";
  src: url("../fonts/assassin/Assassin_.woff") format("woff");
}
.nav-link {
  color: white;
  font-family: "Dolce Vita Light", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.main-heading {
  position: absolute;
  top: 88%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.h1 {
  padding-top: 10px;
  font-family: "Dolce Vita Light", Helvetica, sans-serif;
  font-size: 44px;
  color: white;
}

.letter,
.space {
  font-size: 20px;
}

#phrase span {
  padding-left: 20px;
  font-family: "Assassin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
@media (min-width: 600px) {
  #phrase span {
    max-width: 300px;
  }
}

#phrase {
  position: absolute;
  max-width: 600px;
  top: 62%;
  color: white;
  font-size: 28px;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 600px) {
  #phrase {
    left: 40%;
    max-width: 780px;
  }
}
@media (min-width: 1200px) {
  #phrase {
    top: 20%;
    left: 65%;
    font-size: 36px;
    height: 200px;
    max-width: 585px;
    -webkit-transition-property: top left font-size height;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top left font-size height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
}

#phrase:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 186, 43, 0.8);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  z-index: -1;
  -webkit-transition-property: top left width height transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top left width height transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #phrase:after {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
  }
}

#home:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  z-index: -1;
  -webkit-transition-property: top left width height transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top left width height transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #home:after {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
    -webkit-transition-property: transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
}

/*# sourceMappingURL=styles.css.map */
