/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */
/* ============================================= */
/*         Base style colors                     */
/* ============================================= */
/* ============================================= */
/*         Colors                                */
/* ============================================= */
#nav-brand,
.nav-link,
.brand-font,
#phrase span,
#aboutHeadline,
.title,
.about-me-copy,
.project-links,
.copy {
  color: white;
}

hr,
#phrase:after,
.linkHR {
  background-color: rgba(252, 186, 43, 0.8);
}

.nav,
.navigation {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-heading-background {
  background-color: rgba(0, 0, 0, 0.6);
}

.headline {
  color: rgba(255, 255, 255, 0.692);
}

.title {
  color: #e4e4e4;
}

.project-links:hover {
  color: #FCBA2B;
  transition: color 0.8s ease-in;
  border-bottom: none;
}

.badges {
  background-color: #03C1FC;
  color: #4b4b4b;
}

#emailLink {
  color: #FCBA2B;
}

#logoFill {
  fill: #D00005;
  stroke: #D00005;
}

.logo-stroke {
  stroke: white;
  stroke-width: 1;
  fill: white;
}

#drumSpaceLogo path {
  stroke: #ffc600;
  stroke-width: 0.25;
  fill: #ffc600;
}

.circles-Logo-Font {
  fill: #f74646;
  stroke: #cd3a3a;
}

/* ============================================= */
/*         Fonts stacks                          */
/* ============================================= */
@font-face {
  font-family: "Heaters";
  src: url("../fonts/heaters-webfont.woff2") format("woff2"), url("../fonts/heaters-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jacob_and_Sonitalic";
  src: url("../fonts/jacobandsonitalic-webfont.woff2") format("woff2"), url("../fonts/jacobandsonitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica-webfont.woff2") format("woff2"), url("../fonts/coolvetica-webfont.woff") format("woff");
}
@font-face {
  font-family: "Dolce Vita Light";
  src: url("../fonts/dolcevitalight-webfont.woff2") format("woff2"), url("../fonts/dolcevitalight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ============================================= */
/*         Font Families                         */
/* ============================================= */
#nav-brand,
.nav-link,
.brand-font {
  font-family: "Dolce Vita Light", Arial, Helvetica, sans-serif;
}

#phrase span,
.project-links {
  font-family: "Jacob_and_Sonitalic", Arial, Helvetica, sans-serif;
}

.title,
.sub-heading,
.copy,
#aboutHeadline {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
}

.headline {
  font-family: "Heaters", Arial, Helvetica, sans-serif;
  font-size: 140pt;
}
@media (min-width: 600px) {
  .headline {
    font-size: 160pt;
    margin-left: 0;
  }
}

/* ============================================= */
/*         Font styles                           */
/* ============================================= */
.nav-link {
  font-size: 24px;
}

#nav-brand {
  font-size: 18pt;
  opacity: 0;
}

#aboutTitle {
  font-size: 120pt;
  margin-left: -20px;
}
@media (min-width: 600px) {
  #aboutTitle {
    font-size: 200pt;
    margin-left: 0;
  }
}

.h1 {
  padding-top: 10px;
  font-size: 44px;
}

.letter,
.space {
  font-size: 20px;
}

.title h1 {
  font-size: 36pt;
}

.main-heading p {
  padding-top: 40px;
  font-size: 28pt;
}
@media (min-width: 600px) {
  .main-heading p {
    padding-top: 0;
    font-size: 34pt;
  }
}

#aboutHeadline {
  max-width: 800px;
  margin-top: -3rem;
  font-size: 36pt;
}
@media (min-width: 1200px) {
  #aboutHeadline {
    padding-left: 60px;
    font-size: 42pt;
  }
}
@media only screen and (min-width: 1400px) {
  #aboutHeadline {
    max-width: 1100px;
  }
}

.about-me {
  font-size: 38pt;
  margin-top: -50px;
}

.about-me-bold {
  font-size: 42pt;
}
@media (min-width: 1200px) {
  .about-me-bold {
    font-size: 46pt;
  }
}

@media (min-width: 1200px) {
  #profileDescription {
    font-size: 20pt;
  }
}

.sub-heading {
  font-size: 26pt;
}

#phrase span {
  font-size: 22pt;
}
@media (min-width: 1200px) {
  #phrase span {
    font-size: 30px;
  }
}

.copy {
  font-size: 12pt;
}
@media (min-width: 600px) {
  .copy {
    font-size: 14pt;
  }
}

.project-links {
  font-size: 32px;
  margin: 0;
  width: 150px;
  text-transform: uppercase;
}

.contactCopy {
  font-size: 22pt;
}

.badge-font {
  font-size: 16pt;
}

/* ============================================= */
/*          AwesomeCo                            */
/* ============================================= */
#logo {
  height: 150px;
  width: 350px;
}

/* ============================================= */
/*          drumspace logo                       */
/* ============================================= */
#drumSpaceLogo {
  height: 200px;
  width: 450px;
}

/* ============================================= */
/*          circles logo                         */
/* ============================================= */
#circlesLogo {
  margin-top: 20px;
  height: 150px;
  padding-left: 20px;
}

/* ============================================= */
/*          FSC2020 logo                         */
/* ============================================= */
#fsc2020logo {
  width: 80%;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #fsc2020logo {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #fsc2020logo {
    width: 60%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-right {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: none;
  }
}
@keyframes move-left {
  from {
    transform: none;
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes move-left-two {
  from {
    transform: translateX(200%);
  }
  to {
    transform: none;
  }
}
@keyframes move-right-two {
  from {
    transform: none;
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes move-right-mountains {
  from {
    transform: translateX(-28%);
  }
  to {
    transform: translateX(-8%);
  }
}
@keyframes move-left-mountains {
  from {
    transform: translateX(-8%);
  }
  to {
    transform: translateX(-28%);
  }
}
@keyframes move-up-project-title {
  from {
    transform: none;
  }
  to {
    transform: translateY(-80%);
  }
}
@keyframes move-down-project-title {
  from {
    transform: translateY(-80%);
  }
  to {
    transform: none;
  }
}
/* ============================================= */
/*         Keyframes                             */
/* ============================================= */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ============================================= */
/*         BG Video Styles                       */
/* ============================================= */
.paused {
  display: none;
}

#bgVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 750px;
}

.video {
  position: relative;
  height: 850px;
  min-width: 100%;
  min-height: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 2s;
  z-index: -1;
}
@media (min-width: 600px) {
  .video {
    height: 980px;
  }
}
@media (min-width: 1200px) {
  .video {
    width: 2400px;
    height: 1100px;
  }
}

.main-heading {
  position: absolute;
  top: 640px;
  height: 130px;
}
@media (min-width: 600px) {
  .main-heading {
    top: 750px;
    height: 80px;
  }
}

#phrase {
  position: absolute;
  top: 390px;
  left: 0;
  height: 230px;
  display: inline-block;
  padding: 1em 6em 1em 1em;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition-property: top, left, font-size, height;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, font-size, height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 600px) {
  #phrase {
    padding: 1em 9em 1em 1em;
    top: 530px;
    left: 18%;
    max-width: 1000px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  #phrase {
    padding: 1em 24em 1em 1em;
    top: 300px;
    left: 40%;
    height: 200px;
    max-width: 1000px;
    height: 220px;
  }
}
@media only screen and (min-width: 1400px) {
  #phrase {
    left: 920px;
    max-width: 1600px;
  }
}

#phrase:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-29deg);
  -ms-transform: skew(-29deg);
  transform: skew(-29deg);
  z-index: -1;
  -webkit-transition-property: top, left, width, height, transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, width, height, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #phrase:after {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
  }
}

#phrase:before {
  content: "";
  position: absolute;
  top: 25%;
  left: -20%;
  width: 20%;
  height: 72%;
  background: rgba(255, 8, 0, 0.459);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-29deg);
  -ms-transform: skew(-29deg);
  transform: skew(29deg);
  z-index: -1;
  -webkit-transition-property: top, left, width, height, transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, width, height, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #phrase:before {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
  }
}

#home:after {
  content: "";
  position: absolute;
  top: 0;
  width: 106%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-29deg);
  -ms-transform: skew(-29deg);
  transform: skew(-29deg);
  z-index: -1;
  -webkit-transition-property: top, left, width, height, transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, width, height, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #home:after {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
  }
}

#projectsSectionContainer {
  height: 1329px;
  background: linear-gradient(#000, rgba(252, 186, 43, 0.475), rgba(252, 186, 43, 0.735), #000);
  overflow: hidden;
  z-index: -4;
}
@media only screen and (min-width: 600px) {
  #projectsSectionContainer {
    height: 1400px;
  }
}
@media only screen and (min-width: 768px) {
  #projectsSectionContainer {
    height: 800px;
  }
}

#projects {
  margin-top: 1100px;
  height: 200px;
  width: 70%;
  position: absolute;
  left: 15%;
  z-index: 1;
}
@media only screen and (min-width: 600px) {
  #projects {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  #projects {
    margin-top: 500px;
    width: 50%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 1200px) {
  #projects {
    margin-top: 580px;
    width: 600px;
    left: 35%;
    margin-left: 0;
  }
}

#mountains {
  height: 250px;
  transform: translateX(-28%);
  position: relative;
  margin-top: 1080px;
  z-index: 2;
}
@media only screen and (min-width: 600px) {
  #mountains {
    margin-top: 1100px;
    left: 20%;
  }
}
@media only screen and (min-width: 768px) {
  #mountains {
    margin-top: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #mountains {
    left: 40%;
    margin-top: 550px;
  }
}

.animate {
  animation: fade-in 1.5s ease-in-out;
}

.gif {
  border: 1px solid white;
  border-radius: 5px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.872), #000);
  min-width: 450px;
  max-width: 100%;
  height: 400px;
  padding: 0 10px;
}
@media (min-width: 600px) {
  .gif {
    width: 90%;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .gif {
    width: 70%;
    margin-left: 150px;
  }
}

#projectExamples {
  margin-top: 5rem;
  width: 100%;
  height: 400px;
}

.projectTitle {
  margin-bottom: 0;
}

.spaced {
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .spaced {
    margin-top: 200px;
  }
}

.left {
  transform: translateX(-200%);
}

.right {
  transform: translateX(200%);
}

.projectBG {
  background: linear-gradient(#000, rgba(255, 255, 255, 0.359), rgba(255, 255, 255, 0.201), #000);
  z-index: -3;
}
@media (min-width: 600px) {
  .projectBG {
    background: none;
  }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after,
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
  content: "";
  position: absolute;
  top: 16%;
  width: 180%;
  height: 80%;
  background: linear-gradient(to right, #00e8f9, #000, #000);
  z-index: -1;
}
@media (min-width: 600px) {
  #awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after,
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
    background: linear-gradient(to right, rgba(0, 249, 249, 0.578), #000, #000);
  }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after {
  -webkit-transform: skew(-1deg);
  -ms-transform: skew(-11deg);
  transform: skew(-14deg);
}

#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
  -webkit-transform: skew(11deg);
  -ms-transform: skew(11deg);
  transform: skew(11deg);
}

#awesomeCoCopy:after {
  left: 410px;
}

#drumSpaceCopy:after {
  left: 240px;
}
@media (min-width: 1200px) {
  #drumSpaceCopy:after {
    left: 300px;
  }
}

#dataAnalyticsCopy:after {
  left: 60px;
}
@media (min-width: 1200px) {
  #dataAnalyticsCopy:after {
    left: 190px;
  }
}

#styleGuideCopy:after {
  left: 60px;
}
@media (min-width: 1200px) {
  #styleGuideCopy:after {
    left: 190px;
  }
}

#fsc2020Copy:after {
  left: 240px;
}
@media (min-width: 1200px) {
  #fsc2020Copy:after {
    left: 300px;
  }
}

#lightBoxCopy:after {
  left: 410px;
}
@media (min-width: 1200px) {
  #lightBoxCopy:after {
    left: 390px;
  }
}

#about {
  z-index: 1;
  max-width: 500px;
  margin-bottom: -850px !important;
}
@media (min-width: 600px) {
  #about {
    max-width: 650px;
  }
}
@media (min-width: 1200px) {
  #about {
    max-width: 1000px;
  }
}
@media only screen and (min-width: 1400px) {
  #about {
    max-width: 1400px;
  }
}

#aboutTitle {
  transform: translateX(-200%);
}

#shaunPortraitWrapper {
  width: 700px;
  margin-bottom: 40px;
}
@media (min-width: 600px) {
  #shaunPortraitWrapper {
    margin-bottom: 20px;
    width: 400px;
  }
}
@media only screen and (min-width: 1400px) {
  #shaunPortraitWrapper {
    width: 600px;
  }
}

#shaunPortrait {
  max-height: 500px;
}
@media (min-width: 600px) {
  #shaunPortrait {
    max-height: 400px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1400px) {
  #shaunPortrait {
    max-height: 700px;
  }
}

/* ============================================= */
/*         link styles                           */
/* ============================================= */
.linkHR {
  border: 0;
  clear: both;
  display: block;
  height: 25px;
  width: 2px;
  margin: 9px 10px;
}

.link-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ============================================= */
/*         Base styles                           */
/* ============================================= */
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.6s ease;
}
@media (min-width: 1200px) {
  .overlay {
    margin-left: 5%;
  }
}

.hov:hover .overlay {
  bottom: 0;
  height: 100%;
  margin-bottom: 5px;
}

body {
  background-color: black;
  height: 100%;
  z-index: -1;
}

.navigation {
  z-index: 3;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  height: 8700px;
}
@media only screen and (min-width: 750px) {
  .wrapper {
    height: 8500px;
  }
}
@media only screen and (min-width: 850px) {
  .wrapper {
    height: 7900px;
  }
}
@media only screen and (min-width: 950px) {
  .wrapper {
    height: 7400px;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper {
    height: 6500px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    height: 6400px;
  }
}

a:hover {
  text-decoration: none;
}

.sectionHR {
  border: 0;
  clear: both;
  display: block;
  width: 93%;
  height: 1px;
}

.margin {
  height: 940px;
}

/*# sourceMappingURL=styles.css.map */
