/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */
/* ============================================= */
/*         Base style colors                     */
/* ============================================= */
@font-face {
  font-family: "Heaters";
  src: url("../fonts/heaters-webfont.woff2") format("woff2"), url("../fonts/heaters-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jacob_and_sonitalic";
  src: url("../fonts/jacobandsonitalic-webfont.woff2") format("woff2"), url("../fonts/jacobandsonitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica-webfont.woff2") format("woff2"), url("../fonts/coolvetica-webfont.woff") format("woff");
}
@font-face {
  font-family: "Dolce Vita Light";
  src: url("../fonts/dolcevitalight-webfont.woff2") format("woff2"), url("../fonts/dolcevitalight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#nav-brand,
.nav-link,
.h1,
#phrase span,
#aboutHeadline,
.title,
.about-me-copy {
  color: white;
}

#nav-brand,
.nav-link,
.h1 {
  font-family: "Dolce Vita Light", Arial, Helvetica, sans-serif;
}

#phrase span {
  font-family: "Jacob_and_sonitalic", Arial, Helvetica, sans-serif;
}

#nav-brand {
  font-size: 18pt;
  opacity: 0;
}

.headline {
  font-family: "Heaters", Arial, Helvetica, sans-serif;
  font-size: 140pt;
  color: rgba(255, 255, 255, 0.692);
}
@media (min-width: 600px) {
  .headline {
    font-size: 160pt;
    margin-left: 0;
  }
}

.title,
.sub-heading,
.copy,
#aboutHeadline {
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
}

#aboutTitle {
  font-size: 160pt;
  margin-left: -20px;
}
@media (min-width: 600px) {
  #aboutTitle {
    font-size: 200pt;
    margin-left: 0;
  }
}

#aboutHeadline {
  max-width: 800px;
  margin-top: -3rem;
  font-size: 36pt;
}
@media (min-width: 1200px) {
  #aboutHeadline {
    padding-left: 60px;
    font-size: 42pt;
  }
}

.title {
  font-size: 36pt;
  color: #e4e4e4;
}

.sub-heading {
  font-size: 26pt;
}

.copy {
  font-size: 12pt;
}
@media (min-width: 600px) {
  .copy {
    font-size: 14pt;
  }
}

.about-me-bold {
  font-size: 42pt;
}
@media (min-width: 1200px) {
  .about-me-bold {
    font-size: 46pt;
  }
}

.about-me {
  font-size: 38pt;
  margin-top: -50px;
}

.nav-link {
  font-size: 24px;
}

.contactCopy {
  font-size: 22pt;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 93%;
  background-color: rgba(252, 186, 43, 0.8);
  height: 1px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.navigation {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-heading {
  position: absolute;
  top: 820px;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.h1 {
  padding-top: 10px;
  font-size: 44px;
}

.letter,
.space {
  font-size: 20px;
}

#phrase span {
  padding-left: 20px;
}
@media (min-width: 600px) {
  #phrase span {
    max-width: 300px;
  }
}

#phrase {
  position: absolute;
  top: 580px;
  left: 0;
  height: 220px;
  font-size: 30px;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  width: 100%;
  -webkit-transition-property: top, left, font-size, height;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, font-size, height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 600px) {
  #phrase {
    left: 30%;
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  #phrase {
    top: 300px;
    left: 55%;
    font-size: 36px;
    height: 200px;
  }
}

#phrase:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 186, 43, 0.8);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-29deg);
  -ms-transform: skew(-29deg);
  transform: skew(-29deg);
  z-index: -1;
  -webkit-transition-property: top, left, width, height, transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, width, height, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #phrase:after {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
  }
}

#home:after {
  content: "";
  position: absolute;
  top: 0;
  width: 106%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-29deg);
  -ms-transform: skew(-29deg);
  transform: skew(-29deg);
  z-index: -1;
  -webkit-transition-property: top, left, width, height, transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: top, left, width, height, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1200px) {
  #home:after {
    -webkit-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
    width: 100%;
  }
}

.badges {
  background-color: #03C1FC;
  color: #4b4b4b;
  font-size: 16pt;
}

/* ============================================= */
/*          Project logos SVG styles                 */
/* ============================================= */
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fillStroke {
  100% {
    fill: white;
  }
}
@keyframes fillPath {
  100% {
    fill: #D00005;
  }
}
#logo {
  height: 150px;
  width: 350px;
}

#logoFill {
  fill: #D00005;
  stroke: #D00005;
  animation: fillPath 1.5s 1.2s forwards;
}

.logo-stroke {
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 325;
  stroke-dashoffset: 325;
  animation: offset 3s linear forwards, fillStroke 1.2s 3s forwards;
}

/* ============================================= */
/*          SVG Keyframes                        */
/* ============================================= */
@keyframes fill-drumSpace {
  100% {
    fill: #ffc600;
  }
}
/* ============================================= */
/*          drumspace logo                            */
/* ============================================= */
#drumSpaceLogo {
  height: 200px;
  width: 450px;
}

#drumSpaceLogo path {
  stroke: #ffc600;
  stroke-width: 0.25;
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
  animation: offset 4s linear forwards, fill-drumSpace 0.8s 4s forwards;
}

#circlesLogo {
  margin-top: 20px;
  height: 150px;
  padding-left: 20px;
}

.circles-Logo-Font {
  fill: #f74646;
  stroke: #cd3a3a;
}

#fsc2020logo {
  width: 80%;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  #fsc2020logo {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #fsc2020logo {
    width: 60%;
  }
}

/* --------------------------------
        Keyframes
---------------------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* --------------------------------
       BG video styles
---------------------------------*/
.paused {
  display: none;
}

#bgVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 980px;
}

.video {
  position: relative;
  height: 980px;
  min-width: 100%;
  min-height: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 2s;
  z-index: -1;
}
@media (min-width: 1200px) {
  .video {
    max-width: 1580px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
body {
  background-color: black;
  height: 100%;
  z-index: -1;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  height: 8000px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.margin {
  height: 940px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-right {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: none;
  }
}
@keyframes move-left {
  from {
    transform: none;
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes move-left-two {
  from {
    transform: translateX(200%);
  }
  to {
    transform: none;
  }
}
@keyframes move-right-two {
  from {
    transform: none;
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes move-right-mountains {
  from {
    transform: translateX(-28%);
  }
  to {
    transform: translateX(-8%);
  }
}
@keyframes move-left-mountains {
  from {
    transform: translateX(-8%);
  }
  to {
    transform: translateX(-28%);
  }
}
@keyframes move-up-project-title {
  from {
    transform: none;
  }
  to {
    transform: translateY(-80%);
  }
}
@keyframes move-down-project-title {
  from {
    transform: translateY(-80%);
  }
  to {
    transform: none;
  }
}
#projectsSectionContainer {
  height: 1329px;
  background: linear-gradient(#000, rgba(252, 186, 43, 0.475), rgba(252, 186, 43, 0.735), #000);
  overflow: hidden;
  z-index: -4;
}
@media only screen and (min-width: 600px) {
  #projectsSectionContainer {
    height: 1400px;
  }
}
@media only screen and (min-width: 768px) {
  #projectsSectionContainer {
    height: 800px;
  }
}

#projects {
  margin-top: 1100px;
  height: 200px;
  width: 80%;
  position: absolute;
  left: 15%;
  z-index: 1;
}
@media only screen and (min-width: 600px) {
  #projects {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  #projects {
    margin-top: 500px;
    width: 50%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 1200px) {
  #projects {
    margin-top: 580px;
    width: 40%;
    left: 35%;
    margin-left: 0;
  }
}

#mountains {
  height: 250px;
  transform: translateX(-28%);
  position: relative;
  margin-top: 1080px;
  z-index: 2;
}
@media only screen and (min-width: 600px) {
  #mountains {
    margin-top: 1100px;
    left: 20%;
  }
}
@media only screen and (min-width: 768px) {
  #mountains {
    margin-top: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #mountains {
    left: 40%;
    margin-top: 550px;
  }
}

.animate {
  animation: fade-in 1.5s ease-in-out;
}

.gif {
  border: 1px solid white;
  border-radius: 5px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.872), #000);
  min-width: 300px;
  max-width: 100%;
  height: 400px;
  padding: 0 10px;
}
@media (min-width: 1200px) {
  .gif {
    width: 70%;
    margin-left: 150px;
  }
}

#projectExamples {
  margin-top: 5rem;
  width: 100%;
  height: 400px;
}

.copy {
  color: white;
}

.projectTitle {
  margin-bottom: 0;
}

.spaced {
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .spaced {
    margin-top: 200px;
  }
}

.left {
  transform: translateX(-200%);
}

.right {
  transform: translateX(200%);
}

.projectBG {
  background: linear-gradient(#000, rgba(255, 255, 255, 0.359), rgba(255, 255, 255, 0.201), #000);
  z-index: -3;
}
@media (min-width: 600px) {
  .projectBG {
    background: none;
  }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after,
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
  content: "";
  position: absolute;
  top: 16%;
  width: 180%;
  height: 80%;
  background: linear-gradient(to right, #00e8f9, #000, #000);
  z-index: -1;
}
@media (min-width: 600px) {
  #awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after,
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
    background: linear-gradient(to right, rgba(0, 249, 249, 0.578), #000, #000);
  }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after {
  -webkit-transform: skew(-1deg);
  -ms-transform: skew(-11deg);
  transform: skew(-14deg);
}

#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
  -webkit-transform: skew(11deg);
  -ms-transform: skew(11deg);
  transform: skew(11deg);
}

#awesomeCoCopy:after {
  left: 410px;
}

#drumSpaceCopy:after {
  left: 240px;
}
@media (min-width: 1200px) {
  #drumSpaceCopy:after {
    left: 300px;
  }
}

#dataAnalyticsCopy:after {
  left: 60px;
}
@media (min-width: 1200px) {
  #dataAnalyticsCopy:after {
    left: 190px;
  }
}

#styleGuideCopy:after {
  left: 60px;
}
@media (min-width: 1200px) {
  #styleGuideCopy:after {
    left: 190px;
  }
}

#fsc2020Copy:after {
  left: 240px;
}
@media (min-width: 1200px) {
  #fsc2020Copy:after {
    left: 300px;
  }
}

#lightBoxCopy:after {
  left: 410px;
}
@media (min-width: 1200px) {
  #lightBoxCopy:after {
    left: 390px;
  }
}

#about {
  z-index: 1;
  max-width: 500px;
  margin-bottom: -850px !important;
}
@media (min-width: 600px) {
  #about {
    max-width: 650px;
  }
}
@media (min-width: 1200px) {
  #about {
    max-width: 1000px;
  }
}

#aboutTitle {
  transform: translateX(-200%);
}

#shaunPortraitWrapper {
  max-width: 700px;
}
@media (min-width: 600px) {
  #shaunPortraitWrapper {
    max-width: 400px;
  }
}

#shaunPortrait {
  max-height: 500px;
  margin-bottom: 40px;
}
@media (min-width: 600px) {
  #shaunPortrait {
    max-height: 400px;
    margin-bottom: 0;
  }
}

@media (min-width: 600px) {
  .contact-info {
    width: 600px;
  }
}

.contactForm {
  background-color: rgba(200, 200, 200, 0.2);
  color: white;
}

.form-label {
  color: #FCBA2B;
}

#emailLink {
  color: #FCBA2B;
}

#submitBtn {
  background-color: transparent;
  border-color: rgba(252, 186, 43, 0.8);
  color: white;
  width: 100%;
  height: 50px;
}

#submitBtn:hover {
  background-color: #FCBA2B;
}

/*# sourceMappingURL=styles.css.map */
