/* ============================================= */
/*          Project logos SVG styles                 */
/* ============================================= */


    // awesomeCo

#logo {
    height: 150px;
    width: 350px; 
}



#logoFill {
    fill: $awesomeco-logo-main-fill;
    stroke: $awesomeco-logo-main-fill;
}

.logo-stroke {
    stroke: $awesomeco-logo-main-path-color;
    stroke-width: 1;
    fill: $awesomeco-logo-main-path-color;
}


    // drumspace


/* ============================================= */
/*          drumspace logo                            */
/* ============================================= */

#drumSpaceLogo {
    height: 200px;
    width: 450px;
}

#drumSpaceLogo path{
    stroke: $drumspace-logo-main-color;
    stroke-width: .25;
    fill: $drumspace-logo-main-color;
}


#circlesLogo {
    margin-top: 20px;
    height: 150px;
    padding-left: 20px;
}

.circles-Logo-Font {
    fill: $circles-logo-primary;
    stroke: $circles-logo-primary-darker;
}

#fsc2020logo{
    width: 80%;
    margin-top: 20px;
    @include for-size(desktop){
        width: 100%;
    }
    @include for-size(desktop){
        width: 60%;
    }
}