// ==========================================================================
// Project logo SVG styles 
// ==========================================================================



/* ============================================= */
/*          AwesomeCo                            */
/* ============================================= */

#logo {
    height: 150px;
    width: 350px; 
}


/* ============================================= */
/*          drumspace logo                       */
/* ============================================= */

#drumSpaceLogo {
    height: 200px;
    width: 450px;
}


/* ============================================= */
/*          circles logo                         */
/* ============================================= */

#circlesLogo {
    margin-top: 20px;
    height: 150px;
    padding-left: 20px;
}

/* ============================================= */
/*          FSC2020 logo                         */
/* ============================================= */

#fsc2020logo{
    width: 80%;
    margin-top: 20px;
    @include for-size(desktop){
        width: 100%;
    }
    @include for-size(desktop){
        width: 60%;
    }
}