
// font stacks

@font-face {
    font-family: "roadway";
    src: url("../fonts/roadway/ROADWAY_.woff") format("woff");
}
@font-face {
    font-family: "Dolce Vita Light";
    src: url("../fonts/dolce_vita/DolceVitaLight.woff") format("woff");
  }
@font-face {
    font-family: "Assassin";
    src: url("../fonts/assassin/Assassin_.woff") format("woff");
  }
@font-face {
    font-family: "Heaters";
    src: url("../fonts/heaters/Heaters.otf") format("otf");
}
@font-face {
    font-family: "Coolvetica";
    src: url("../fonts/coolvetica/Coolvetica.otf") format("otf");
}



// Fonts

#nav-brand,
.nav-link,
.h1,
#phrase span,
#aboutHeadline,
.title,
.about-me-copy {
    color: white;
}

#nav-brand,
.nav-link,
.h1 {
    font-family: "Dolce Vita Light", Arial, Helvetica, sans-serif;
}

#phrase span {
    font-family: "Assassin", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-brand{
    font-size: 18pt;
    opacity: 0;
}


.headline {
    font-family: "Heaters", Arial, Helvetica, sans-serif;
    font-size: 140pt;
    color: rgba(255, 255, 255, 0.692);
    @include for-size(tablet){
        font-size: 160pt;
        margin-left: 0;
    }
}

.title,
.sub-heading,
.copy,
#aboutHeadline {
    font-family: "Coolvetica", Arial, Helvetica, sans-serif;
}

#aboutTitle{
    font-size: 160pt;
    margin-left: -20px;
    @include for-size(tablet){
        font-size: 200pt;
        margin-left: 0;
    }
}

#aboutHeadline {
    max-width: 800px;
    margin-top: -3rem;
    font-size: 36pt;
    @include for-size(desktop){
       padding-left: 60px;
       font-size: 42pt;
        }
}


.title {
    font-size: 36pt;
    color: rgb(228, 228, 228);
}

.sub-heading{
    font-size: 26pt;
}

.copy {
    font-size: 12pt;
    @include for-size(tablet){
        font-size: 14pt;
         }
}

.about-me-bold {
    font-size: 42pt;
    @include for-size(desktop){
        font-size: 46pt;
         }
}


.about-me  {
    font-size: 38pt;
    margin-top: -50px;
}


.nav-link {
    font-size: 24px;
}

.contactCopy {
    font-size: 22pt;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 93%;               
    background-color:$lightning-yellow-lighter;
    height: 1px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

//navs

.navigation {
    z-index: 3;
    background-color: rgba(0, 0, 0, .4);
}

.main-heading {
    position: absolute;
    top: 820px;
    height: 7rem;
    background-color: rgba(0, 0, 0, .6);
}

.h1 {
    padding-top: 10px;
    font-size: 44px;
}

.letter,
.space {
    font-size: 20px;
}

#phrase span{
    padding-left: 20px;
    @include for-size(tablet){
        max-width: 300px;
    }
}
#phrase {
    position: absolute;
    top: 580px;
    left:  0;
    height: 200px;
    font-size: 28px;
    display: inline-block;
    padding: 1em 5em 1em 1em;
    overflow: hidden;
    width: 100%;

    -webkit-transition-property: top left font-size height;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top left font-size height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include for-size(tablet){
        left: 30%;
        max-width: 900px;
    }

    @include for-size(desktop){
        top: 300px;
        left: 55%;
        font-size: 36px;
        height: 200px;


        // -webkit-transition-property: top left font-size height;
        // -webkit-transition-duration: 1s;
        // -webkit-transition-timing-function: ease-in-out;
        // transition-property: top left font-size height;
        // transition-duration: 1s;
        // transition-timing-function: ease-in-out;
    }
  }
  
  #phrase:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $lightning-yellow-lighter;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    transform: skew(-29deg);
    z-index: -1;

    -webkit-transition-property: top left width height transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property:top left width height transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include for-size(desktop){
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
    }
  }

  #home:after {
    content: '';
    position: absolute;
    top: 0;
    width: 106%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    transform: skew(-29deg);
    z-index: -1;

    -webkit-transition-property: top left width height transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property:top left width height transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;


    @include for-size(desktop){
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
        width: 100%;
    }
  }

  .badges {
      background-color: #03C1FC;
      color: rgb(75, 75, 75);
      font-size: 16pt;
  }

