// ==========================================================================
// Variables
// ==========================================================================


/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */

$broom                             : #fffb0f;
$lightning-yellow                  : #FCBA2B;
$lightning-yellow-lighter          : rgba(252, 186, 43, 0.8);
$mine-shaft                        : #3B3B3B;
$guardsman-red                     : #D00005;
$sunset-orange                     : #f74646;
$flush-mahogany                    : #cd3a3a;
$white                             : rgb(255, 255, 255);
$silver                            : rgba(200, 200, 200);
$very-pale-silver                  : rgba(200, 200, 200, 0.2);
$supernova                         : #ffc600;


/* ============================================= */
/*         Base style colors                     */
/* ============================================= */


    //awesomeCo logo
$awesomeco-logo-main-path-color     : $white;
$awesomeco-logo-main-fill           : $guardsman-red;
$projects-BG-color                  : rgba(0, 249, 249, 0.578);
$projects-BG-mobile-color           : rgb(0, 232, 249);

    //drumspace logo
$drumspace-logo-main-color          : $supernova;

    //drumspace logo
$circles-logo-primary               : $sunset-orange;
$circles-logo-primary-darker        : $flush-mahogany;
