// ==========================================================================
//  About section
// ==========================================================================


#about {
    z-index: 1;
    max-width: 500px;
    margin-bottom: -850px !important;
    background: linear-gradient(#000, #000, rgba(252, 186, 43, 0.475),  rgba(252, 186, 43, 0.735), #000);
    @include for-size(tablet){
        background: inherit;
        max-width: 650px;
        }
    @include for-size(desktop){
        max-width: 1000px;
        margin-bottom: 0 !important;
        margin-top: 200px;
        }
    @media only screen and (min-width: 1400px){
        max-width: 1400px;
    }
}

#aboutTitle {
    transform: translateX(-200%);
}


#shaunPortraitWrapper{
    width: 100%;
    margin-bottom: 40px;
    @include for-size(tablet){
        margin-bottom: 20px;
       width: 400px;
        }
    @media only screen and (min-width: 1400px){
        width: 600px;
    }
}
#shaunPortrait{
    max-height: 500px;

    @include for-size(tablet){
    max-height: 400px;
    margin-bottom: 0;
    }
    @media only screen and (min-width: 1400px){
        max-height: 700px;
        
    }
}

