// ==========================================================================
// Background Video styles
// ==========================================================================

/* ============================================= */
/*         Keyframes                             */
/* ============================================= */


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* ============================================= */
/*         BG Video Styles                       */
/* ============================================= */

//sets display to hidden for video not currently playing
.paused {
    display: none;
}


//div container for video elements
#bgVideo {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 750px;

}

// BG video media individual elements
.video {
    position: relative;
    height: 850px;
    min-width: 100%; 
    min-height: 100%; 
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadein 2s;
    z-index: -1;

    @include for-size(tablet){
        height: 980px;
    }

    @include for-size(desktop){
        width: 2400px;
        height: 1100px;
    }
    @media only screen and (min-width: 1400px){
        height: 1600px;
    }
}
