// ==========================================================================
//  Graphic Design Section
// ==========================================================================


#graphicDesignSection {
    margin-top: 300px;
    @include for-size(desktop){
        margin-top: 600px;
    }
}

div.auto-play {
    width: 1px; 
    min-width: 100%;
    *width: 100%;
}

.slick-slide img{
    height: 500px;
    width: 100%;
    padding: 0 5px;
    @include for-size(desktop){
        height: 500px;
    }
    @media only screen and (min-width: 1600px){
        height: 600px;
        padding: 0 10px;
    } 
}
