// ==========================================================================
//  Landing Page
// ==========================================================================

//brand-logo

.main-heading {
    position: absolute;
    top: 640px;
    height: 130px;
    @include for-size(tablet){
        top: 750px;
        height: 80px;
    }
}

//Quote and surrounding elements

#phrase {
    position: absolute;
    top: 390px;
    left:  0;
    height: 230px;
    display: inline-block;
    padding: 1em 6em 1em 1em;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition-property: top, left, font-size, height;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: top, left, font-size, height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include for-size(tablet){
        padding: 1em 9em 1em 1em;
        top: 530px;
        left: 18%;
        max-width: 1000px;
        height: 200px;
    }

    @include for-size(desktop){
        padding: 1em 24em 1em 1em;
        top: 300px;
        left: 40%;
        height: 200px;
        max-width: 1000px;
        height: 220px;
    }

    @media only screen and (min-width: 1400px) {
            left: 920px;
            max-width: 1600px;
      }
  }
  
  #phrase:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    transform: skew(-29deg);
    z-index: -1;

    -webkit-transition-property: top, left, width, height, transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property:top, left, width, height, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include for-size(desktop){
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
    }
  }

  #phrase:before {
    content: '';
    position: absolute;
    top: 25%;
    left: -20%;
    width: 20%;
    height: 72%;
    background: $red-lighter;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    transform: skew(29deg);
    z-index: -1;

    -webkit-transition-property: top, left, width, height, transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property:top, left, width, height, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include for-size(desktop){
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
    }
  }


  #home:after {
    content: '';
    position: absolute;
    top: 0;
    width: 106%;
    height: 100%;
    background: $black-lighter;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-29deg);
    -ms-transform: skew(-29deg);
    transform: skew(-29deg);
    z-index: -1;

    -webkit-transition-property: top, left, width, height, transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property:top, left, width, height, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    @include for-size(desktop){
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
    }
  }