
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



#projectsSectionContainer{
    margin-top: 900px;
    height: 629px;
    background: linear-gradient(#000, #6AF0D5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: -3;
}

#projects{
    margin-top: 1800px;
    height: 280px;
    width: 70%;
    position: absolute;
    left: 25%;
    z-index: -1;
}

#mountains {;
    height: 350px;
    position: relative;
    left: 100%;
    margin-top: 280px;
}

.animate {
    animation: fade-in 1.5s ease-in-out;
}

#userAPIGIFF{
    width: 600px;
    border: 2px solid white;
    z-index: 1;
}

#APIGIFF {
    width: 600px;
    z-index: 1;
}