// ==========================================================================
// Projects Section Styles
// ==========================================================================


#projectsSectionContainer{
    height: 470px;
    background: linear-gradient(#000, #000,  rgba(27, 20, 4, 0.815),rgba(63, 46, 10, 0.815),rgba(133, 98, 22, 0.801),  rgb(252, 186, 43), #000);
    z-index: -4;
    margin-bottom: 80px;

    @media only screen and (min-width: 1200px){
        background: linear-gradient(#000, #000,  rgba(27, 20, 4, 0.815),rgba(63, 46, 10, 0.815),rgba(133, 98, 22, 0.801),  rgb(252, 186, 43), #000);
        height: 570px;
    }
}

#projects{
    margin-top: 400px;
    height: 200px;
    width: 90%;
    font-size: 120pt;
    z-index: 1;
    transform: translateY(110%);

    @media only screen and (min-width: 600px) {
        width: 100%;
        font-size: 150pt;
      }

    @media only screen and (min-width: 768px) {
        margin-top: 500px;
        font-size: 170pt;
    }

}

#mountains {
    height: 250px;
    transform: translateX(-24%);
    z-index: 2;

    @media only screen and (min-width: 768px) {
        transform: translateX(-12%);
    }

    @media only screen and (min-width: 1200px){
        transform: translateX(0);
        margin-top: 100px;
    }    
}

.animate {
    animation: fade-in 1.5s ease-in-out;
}

// .animationElement {
//     overflow-x: hidden !important;
// }





//logo design Section


/* ============================================= */
/*          SVG Keyframes                        */
/* ============================================= */

@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }
    100% {
        fill: #ce3427;
    }
}




#logoDesign {

    width: 100%;
    margin-top: 1200px;

    @include for-size(tablet){
        width: 80%;

    }

    @include for-size(desktop){
        margin-top: 400px;

    }
}


.supermassiveLogoCircle {
    animation: fill 4s 2s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.supermassiveLogoOrange {
    animation: fill 5s 3.5s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.supermassiveLogoWhite {
    stroke: $white;
    stroke-width: 2px;
    stroke-dasharray: 330;   
    stroke-dashoffset: 330;
    animation: offset 5s 3.5s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


    @media only screen and (min-width: 768px) {
       stroke-width: 1.2px;
    }

}

#logoDesignLink:hover {
    stroke: rgb(0, 217, 255);
}

//looped videos for project examples
.gif {
    border: 1px solid white;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.872), #000);
    width: 400px;
    // max-width: 100%;
    height: 300px;
    @include for-size(desktop){
        width: 500px;
    }
}

.gif-container {
    @include for-size(desktop){
        padding-right: 80px;
    }
}

#projectExamples {
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

.projectTitle {
    margin-bottom: 0;
}

.spaced {
    margin-top: 50px;
    @include for-size(desktop){
        margin-top: 200px;
    }
}

//classes to add movement for elements on page
.left {
    transform: translateX(-200%);
}

.right {
    transform: translateX(200%);
}

// Gradient behind projects in Mobile.
.projectBG{
    background: linear-gradient( #000, rgba(255, 255, 255, 0.359),rgba(255, 255, 255, 0.201), #000);
    z-index: -3;
    @include for-size(tablet){
        background: none;
    }
}

// Individual project :before/:after element styles

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after,
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
    content: '';
    position: absolute;
    top: 16%;
    width: 180%;
    height: 80%;
    background: linear-gradient(to right, $projects-BG-mobile-color, #000, #000);
    z-index: -1;
    @include for-size(tablet){
        background: linear-gradient(to right, $projects-BG-color, #000, #000);
    }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after {
    -webkit-transform: skew(-14deg);
    -ms-transform: skew(-14deg);
    transform: skew(-14deg);
}

// projects div chevron slanting left
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after  {
    -webkit-transform: skew(11deg);
    -ms-transform: skew(11deg);
    transform: skew(11deg);
}

#awesomeCoCopy:after {
    left: 410px;
}

#drumSpaceCopy:after {
    left: 240px;
    @include for-size(desktop){
        left: 300px;
    }
}

#dataAnalyticsCopy:after {
    left: 60px;
    @include for-size(desktop){
        left: 190px;
    }
}

// projects div chevron slanting right
#styleGuideCopy:after {
    left: 60px;
    @include for-size(desktop){
        left: 190px;
    }
}

#fsc2020Copy:after {
    left: 240px;
    @include for-size(desktop){
        left: 300px;
    }
}

#lightBoxCopy:after {
    left: 410px;
    @include for-size(desktop){
        left: 390px;
    }
}


.project-copy {
    max-width: 600px; 
}




