
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


@keyframes move-right {
    from {
        transform: translateX(-200%);
    } 
    to {
        transform: none;
    }
}

@keyframes move-left {
    from {
        transform: none;
    } 
    to {
        transform: translateX(-200%);
    }
}


@keyframes move-left-two {
    from {
        transform: translateX(200%);
    } 
    to {
        transform: none;
    }
}

@keyframes move-right-two {
    from {
        transform: none;
    } 
    to {
        transform: translateX(200%);
    }
}

@keyframes move-right-mountains {
    from {
        transform: translateX(-28%);
    } 
    to {
        transform: translateX(-8%);
    }
}

@keyframes move-left-mountains {
    from {
        transform: translateX(-8%);
    } 
    to {

        transform: translateX(-28%);
    }
}

@keyframes move-up-project-title {
    from {
        transform: none;
    } 
    to {
        transform: translateY(-80%);
    }
}

@keyframes move-down-project-title {
    from {
        transform: translateY(-80%);
    } 
    to {
        transform: none;
    }
}



#projectsSectionContainer{
    height: 1329px;
    background: linear-gradient(#000, rgba(252, 186, 43, 0.475),  rgba(252, 186, 43, 0.735), #000);
    overflow: hidden;
    z-index: -4;


    @media only screen and (min-width: 600px) {
        height: 1400px;
      }

    @media only screen and (min-width: 768px) {
        height: 800px;
    }
}

#projects{
    margin-top: 1100px;
    height: 200px;
    width: 80%;
    position: absolute;
    left: 15%;
    z-index: 1;

    @media only screen and (min-width: 600px) {
        width: 70%;
      }

    @media only screen and (min-width: 768px) {
        margin-top: 500px;
        width: 50%;
        margin-left: 10%;
    }

    @media only screen and (min-width: 1200px){
        margin-top: 580px;
        width: 40%;
        left: 35%;
        margin-left: 0;
    }
}

#mountains {;
    height: 250px;
    transform: translateX(-28%);
    position: relative;
    margin-top: 1080px;
    z-index: 2;



    @media only screen and (min-width: 600px) {
        margin-top: 1100px;
        left: 20%;
      }

    @media only screen and (min-width: 768px) {
        margin-top: 500px;
    }

    @media only screen and (min-width: 1200px){
        left: 40%;
        margin-top: 550px;
    }    
}

.animate {
    animation: fade-in 1.5s ease-in-out;
}


.gif {
    border: 1px solid white;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.872), #000);
    min-width: 300px;
    max-width: 100%;
    height: 400px;
    padding: 0 10px;
    @include for-size(desktop){
        width: 70%;
        margin-left: 150px;
    }
}

#projectExamples {
    margin-top: 5rem;
    width: 100%;
    height: 400px;
}

.copy {
    color: white;
}

.projectTitle {
    margin-bottom: 0;
}

.spaced {
    margin-top: 50px;
    @include for-size(desktop){
        margin-top: 200px;
    }
}

.left {
    transform: translateX(-200%);
}

.right {
    transform: translateX(200%);
}

.projectBG{
    background: linear-gradient( #000, rgba(255, 255, 255, 0.359),rgba(255, 255, 255, 0.201), #000);
    z-index: -3;
    @include for-size(tablet){
        background: none;
    }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after,
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after {
    content: '';
    position: absolute;
    top: 16%;
    width: 180%;
    height: 80%;
    background: linear-gradient(to right, $projects-BG-mobile-color, #000, #000);
    z-index: -1;
    @include for-size(tablet){
        background: linear-gradient(to right, $projects-BG-color, #000, #000);
    }
}

#awesomeCoCopy:after,
#drumSpaceCopy:after,
#dataAnalyticsCopy:after, {
    -webkit-transform: skew(-1deg);
    -ms-transform: skew(-11deg);
    transform: skew(-14deg);
}

// chevron slanting left
#styleGuideCopy:after,
#fsc2020Copy:after,
#lightBoxCopy:after  {
    -webkit-transform: skew(11deg);
    -ms-transform: skew(11deg);
    transform: skew(11deg);
}

#awesomeCoCopy:after {
    left: 410px;
}

#drumSpaceCopy:after {
    left: 240px;
    @include for-size(desktop){
        left: 300px;
    }
}

#dataAnalyticsCopy:after {
    left: 60px;
    @include for-size(desktop){
        left: 190px;
    }
}

// chevron slanting right
#styleGuideCopy:after {
    left: 60px;
    @include for-size(desktop){
        left: 190px;
    }
}

#fsc2020Copy:after {
    left: 240px;
    @include for-size(desktop){
        left: 300px;
    }
}

#lightBoxCopy:after {
    left: 410px;
    @include for-size(desktop){
        left: 390px;
    }
}





