// ==========================================================================
// Base
// ==========================================================================

html {
    min-height: 100%;
    overflow-x: hidden;
}


body {
    background-color: $black; 
    min-height: 100%;
    z-index: -1;
}

.navigation {
    z-index: 3;
}

#home {
    overflow-x: hidden;
}


a:hover {
    text-decoration: none;
}

.sectionHR {
    border: 0;
    clear:both;
    display:block;
    width: 93%;               
    height: 1px;
}

// element to keep normal page flow - the BG video element is out of normal page flow
.margin {
    height: 940px;
}



