

body {
    background-color: black; 
    overflow-x: hidden;
    height: 3000px;
    z-index: -1;
}

.nav {
    background-color: rgba(0, 0, 0, .4);
}

.affix {
    top:0;
    position:fixed;
}

// element to keep normal page flow - the BG video element is out of normal page flow
.margin {
    height: 940px;
}
