
@keyframes appear {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}


@keyframes hide {
    from {
        opacity: 0;
    } 
    to {
        opacity: 0;
    }
}



body {
    background-color: black; 
    height: 100%;
    z-index: -1;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    // this is what causes the double scroll-bar.  The contact section still is being pushed by 
    // this element or something above it upon media query. 
    //adding height 100% or having no height parameter set (as it was previously), is what causes the issue.
    height: 8600px;

    @media only screen and (min-width: 750px) {
        height: 8200px;
    }

    @media only screen and (min-width: 850px) {
        height: 7800px;
    }

    @media only screen and (min-width: 950px) {
        height: 6800px;
    } 

    @media only screen and (min-width: 1000px) {
        height: 6200px;
    }

    @include for-size(desktop){
        height: 6000px;
    }
}

.nav {
    background-color: rgba(0, 0, 0, .4);
}

a:hover {
    text-decoration: none;
  }


// element to keep normal page flow - the BG video element is out of normal page flow
.margin {
    height: 940px;
}


// .spacer {
//     height:200px;
//     margin-top: 5000px;
//     @include for-size(tablet){
//         margin-top: 4700px;
//     }
//     @include for-size(desktop){
//         height:5px;
//         margin-top: 2400px;
//     }
    
// }